<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <li class="orbit-slide is-active">
      <img class="orbit-image" src="http://www.ikea.com/us/en/images/products/sundvik-children-s-chair-brown__0121523_PE278178_S4.JPG" alt="Foo">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
  </ul>
</div>
